@charset "utf-8";

/* リセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;/* 親要素に依存する */
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
body {
  font-size: 16px;
  color: #222;
  line-height: 1;
}

/* 共通部分 */
.container {
  max-width: 1000px;
  margin: 0 auto 80px;
}

/* header 部分 */
.header {
  width: 100%;
  padding: 30px 0;
  background-color: #fbfbfbcc;
  backdrop-filter: blur(5px);
  text-align: center;
  box-shadow: 0 0 8px #aaa;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.header > h1 {
  width: fit-content;
  padding-left: 40px;
  background: url(../img/smile-icon.svg) no-repeat 0 0/contain;
  margin: 0 auto 10px;
  font-family: 'BIZ UDPGothic', sans-serif;
  color: #ff6600;
}
.main-text {
  text-align: center;
  line-height: 2;
  font-size: 18px;
  padding: 180px 0 80px;
  font-family: 'BIZ UDPGothic', sans-serif;
  background-image: radial-gradient(#c2f9cb 0%,#fff 80%);
  position: relative;
  z-index: 1;
}
.main-text::after {
  position: absolute;
  content: "";
  display: block;
  width: 50%;
  aspect-ratio: 3 / 2;
  background-image: radial-gradient(#f9e9c2cf 0%,#fff0 90%);
  top: 0;
  z-index: -1;
}
.main-text::before {
  position: absolute;
  content: "";
  display: block;
  width: 50%;
  aspect-ratio: 3 / 2;
  background-image: radial-gradient(#c2f0f9cf 0%,#fff0 90%);
  top: 0;
  right: 0;
  z-index: -1;
}
/* content 部分（共通） */
.content-ttl {
  text-align: center;
  padding: 10px 0;
  background-color: #f68607;
  color: #fff;
  margin-bottom: 30px;
  font-family: 'BIZ UDPGothic', sans-serif;
}
.content {
  margin-bottom: 50px;
}
.content-inner {
  display: flex;
  width: 100%;
  gap: 30px;
}
.content:nth-of-type(odd) > .content-inner{
  flex-direction: row-reverse;
}
.content:nth-of-type(even) .content-ttl {
  background-color: #d6bb0b;
}
.content-text {
  line-height: 1.8;
  width: 40%;
}
.reporter {
  text-align: right;
  padding-top: 30px;
}
.content-photo {
  width: calc(60% - 30px);
}
.content-photo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* footer 部分 */
.footer {
  background-color: #f68607;
  color: #fff;
  text-align: center;
  padding: 30px 0 40px;
}


/* レスポンシブ設定
ーーーーーーーーーーーーーーーーーーー */

@media (max-width:1010px){

  /* 共通部分 */
  .container {
    padding: 10px 0;
  }
  .content-inner {
    flex-direction: column;
    width: calc(100% - 60px);
    margin: 0 auto;
    gap: 30px;
  }
  .content:nth-of-type(odd) > .content-inner{
    flex-direction: column;
  }
  .content-text {
    width: 100%;
  }
  .content-photo {
    width: 100%;
  }
  .content-ttl {
    padding: 16px 0;
  }
}

@media (max-width:620px){
  .header > h1 {
    font-size: 22px;
    padding-left: 26px;
    background: url(../img/smile-icon.svg) no-repeat 0 0/contain;
  }
  .main-text {
    font-size: 16px;
  }
}